<div class="welcome text-center">
  <h1>Bienvenido a 4Paws</h1>
  <h2>Encuentra lugares PetFriendly para ti y tu mascota.</h2>
  <img src="../../../assets/images/4Paws-logo-welcome.jpg" alt="imgWelcome">
</div>

<div class="container text-center">
  <div class="row">
    <!-- Card 1: Búsqueda -->
    <div class="col-md-3 mx-auto">
      <div class="card card-with-gradient">
        <div class="card-body">
          <h5 class="card-title font-weight-bold">Búsqueda de Establecimientos</h5>
          <p class="card-text">Encuentra lugares PetFriendly cerca de ti.</p>
          <a routerLink="/map" class="btn btn-warning">Ir a la Búsqueda</a>
        </div>
      </div>
    </div>

    <!-- Card 2: Establecimientos Destacados -->
    <div class="col-md-3 mx-auto">
      <div class="card card-with-gradient">
        <div class="card-body">
          <h5 class="card-title">Establecimientos Destacados</h5>
          <p class="card-text">Descubre lugares populares y recomendados por otros amantes de mascotas.</p>
          <a routerLink="/home" class="btn btn-warning">Explorar Destacados</a>
        </div>
      </div>
    </div>

    <!-- Card 3: Comunidad -->
    <div class="col-md-3 mx-auto">
      <div class="card card-with-gradient">
        <div class="card-body">
          <h5 class="card-title">Únete a nuestra Comunidad</h5>
          <p class="card-text">Descubre lo que otros amantes de mascotas tienen para decir y comparte tus propias experiencias.</p>
          <a routerLink="/community" class="btn btn-warning">Ir a la Comunidad</a>
        </div>
      </div>
    </div>
  </div>
</div>
