<div class="container justify-content-center">
  <div class="container">
    <button class="menu-button" (click)="toggleSidebar()">
      <div class="bar"></div>
      <div class="bar"></div>
      <div class="bar"></div>
    </button>
    <app-sidebar [isSidebarOpen]="isSidebarOpen" (isSidebarOpenChange)="isSidebarOpen = $event"></app-sidebar>
  </div>
</div>

<div class="container">
  <div class="row justify-content-center mt-5">
    <div class="col-md-6">
      <div class="card bg-dark text-white">
        <div class="card-header">
          <h2 class="text-center">Restablecer Contraseña 🐾</h2>
        </div>
        <div class="card-body">
          <form (ngSubmit)="onSubmit()" #forgotPasswordForm="ngForm">
            <div class="mb-3">
              <label for="email" class="form-label">Correo Electrónico</label>
              <input
                type="email"
                class="form-control"
                id="email"
                name="email"
                [(ngModel)]="email"
                required
                email
                placeholder="Tu correo electrónico"
              />
            </div>
            <button type="submit" class="btn btn-primary">Enviar Correo de Restablecimiento</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
