<div class="sidebar" [ngClass]="{'open': isSidebarOpen}">
  <ul>
    <li><a routerLink="/home"><i class="fas fa-home"></i> Inicio</a></li>
    <li><a routerLink="/map"><i class="fas fa-search"></i> Mapa</a></li>
    <li><a routerLink="/map"><i class="fas fa-search"></i> Buscar Establecimientos</a></li>
    <li><a routerLink="/user-profile"><i class="fas fa-user"></i> Mi Perfil</a></li>
    <li *ngIf="!userService.isAuthenticated"><a routerLink="/login"><i class="fas fa-sign-in-alt"></i> Iniciar Sesión</a></li>
  </ul>
  <div class="bottom-button">
    <button (click)="logout()" *ngIf="userService.isAuthenticated"><i class="fas fa-sign-out-alt"></i> Cerrar Sesión</button>
  </div>
</div>
